.rotate {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#navbar {
    position: sticky!IMPORTANT;
  width: 100%;
    z-index: 1;    
}
.bottle-glasses{
  float:right;
}
